img {
  max-width: 100%;
  display: block;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 780px;
  margin: 0 auto;
  grid-gap: 20px;
  padding: 10px;
}

.container > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.container > div.Propaganda{
  grid-column: 1;
  grid-row: 2 / 5;
  display: block;
  border-top: 10px solid;
}


